# Advanced Data Analysis - week 1 exercises - part 1

In the advanced data analysis course, we assume basic knowledge of Python, as could be acquired by attending the *Introduction to Programming* bridging course.

This notebook includes exercises for autonomous study related with **Week 1**. There will be a second notebook with more exercises in early next week.

We will use a dataset consisting in a set of files with data for COVID obtained from this site:

[https://github.com/GCGImdea/coronasurveys](https://github.com/GCGImdea/coronasurveys)

## Preliminaries

Let's start by import Pandas, matplotlib and os libraries.

In [1]:
# imports pandas
import pandas as pd

# imports matplotlib
import matplotlib.pyplot as plt

import os

## Examples and exercises

File "ALL-covid.csv" has the information for COVID in all countries.

In [2]:
# create the path for the global file
fileName = os.path.join( "data", "ALL-covid.csv")

# Read a CSV file into a DataFrame
covidDF = pd.read_csv(fileName)

print( covidDF)

              date countrycode  population  cases  deaths
0       2020-01-25          MY    31949789      0       0
1       2020-01-26          MY    31949789      1       0
2       2020-01-27          MY    31949789      0       0
3       2020-01-28          MY    31949789      0       0
4       2020-01-29          MY    31949789      3       0
...            ...         ...         ...    ...     ...
104946  2021-08-07          AU    25203200    277      -1
104947  2021-08-08          AU    25203200    302       1
104948  2021-08-09          AU    25203200    380       4
104949  2021-08-10          AU    25203200    367       2
104950  2021-08-11          AU    25203200    372       2

[104951 rows x 5 columns]

Using ```covidDF```, which includes full data, print the total number of cases and deaths for a country of your choice.

In [3]:
## TODO : complete the code

resultDF = covidDF[covidDF["countrycode"]=="PT"][["cases","deaths"]].sum()
print(resultDF)

cases     993239
deaths     17514
dtype: int64

Compute the top-3 countries with more deaths.

In [4]:
## TODO : complete the code

resultDF = covidDF[["deaths","countrycode"]].groupby("countrycode").sum()
resultDF = resultDF.nlargest(3,"deaths")
print(resultDF)

             deaths
countrycode
US           618137
BR           565748
IN           429179

Not all countries have the same population, so probably what would make sense is to compute the number of deaths as a function of the population. 

For doing this, it would be useful to have the number of deaths per 1M persons, instead of the raw number. This can be done by adding a column to the bases DataFrame.

In [5]:
covidDF["deathsPer1M"] = covidDF["deaths"] / (covidDF["population"] / 1000000)

print(covidDF)

              date countrycode  population  cases  deaths  deathsPer1M
0       2020-01-25          MY    31949789      0       0     0.000000
1       2020-01-26          MY    31949789      1       0     0.000000
2       2020-01-27          MY    31949789      0       0     0.000000
3       2020-01-28          MY    31949789      0       0     0.000000
4       2020-01-29          MY    31949789      3       0     0.000000
...            ...         ...         ...    ...     ...          ...
104946  2021-08-07          AU    25203200    277      -1    -0.039678
104947  2021-08-08          AU    25203200    302       1     0.039678
104948  2021-08-09          AU    25203200    380       4     0.158710
104949  2021-08-10          AU    25203200    367       2     0.079355
104950  2021-08-11          AU    25203200    372       2     0.079355

[104951 rows x 6 columns]

You can now compute the top-3 countries with more deaths, as a function of the population.

In [6]:
## TODO : complete the code


resultDF = covidDF[["deathsPer1M","countrycode"]].groupby("countrycode").sum()
resultDF = resultDF.nlargest(3,"deathsPer1M")
print(resultDF)

              deathsPer1M
countrycode
PA           16305.422895
PE            6064.047936
SV            4259.671034

What were the 3 days with more cases (worldwide)?

In [7]:
## TODO : complete the code

resultDF = covidDF[["deaths","date"]].groupby("date").sum()
resultDF = resultDF.nlargest(3,"deaths")
print(resultDF)

            deaths
date
2020-10-29   37846
2021-07-20   20751
2021-01-20   17743

If we wanted to compute statistics by months, it would be useful to have a column with the month, instead of the having only the full date. This can be done by creating an additional column and using the functions to compute a substring of a column.

In [8]:
covidDF["month"] = covidDF["date"].str[:7]

print(covidDF)

              date countrycode  population  cases  deaths  deathsPer1M
0       2020-01-25          MY    31949789      0       0     0.000000  \
1       2020-01-26          MY    31949789      1       0     0.000000
2       2020-01-27          MY    31949789      0       0     0.000000
3       2020-01-28          MY    31949789      0       0     0.000000
4       2020-01-29          MY    31949789      3       0     0.000000
...            ...         ...         ...    ...     ...          ...
104946  2021-08-07          AU    25203200    277      -1    -0.039678
104947  2021-08-08          AU    25203200    302       1     0.039678
104948  2021-08-09          AU    25203200    380       4     0.158710
104949  2021-08-10          AU    25203200    367       2     0.079355
104950  2021-08-11          AU    25203200    372       2     0.079355

          month
0       2020-01
1       2020-01
2       2020-01
3       2020-01
4       2020-01
...         ...
104946  2021-08
104947  2021-08
104948  2021-08
104949  2021-08
104950  2021-08

[104951 rows x 7 columns]

We can now compute the three months with more cases.

In [9]:
## TODO : complete the code


resultDF = covidDF[["deaths","month"]].groupby("month").sum()
resultDF = resultDF.nlargest(3,"deaths")
print(resultDF)

         deaths
month
2021-01  418383
2021-05  379217
2021-04  377988

Explore Dataframe documentation [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) to find out out to compute the cummulative number of cases for a country of your choice - the goal is to have a Dataframe that includes the data for the country you selected, with two additional columns for the cumulative number of cases and deaths.

In [10]:
ptCovidDF = covidDF[covidDF["countrycode"]=="PT"]

# TODO : complete
ptCovidDF["cumCases"] = ptCovidDF["cases"].cumsum()
ptCovidDF

<ipython-input-10-cb0890f15d8c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ptCovidDF["cumCases"] = ptCovidDF["cases"].cumsum()

,date,countrycode,population,cases,deaths,deathsPer1M,month,cumCases
76917,2020-03-02,PT,10276617,0,0,0.000000,2020-03,0
76918,2020-03-03,PT,10276617,0,0,0.000000,2020-03,0
76919,2020-03-04,PT,10276617,3,0,0.000000,2020-03,3
76920,2020-03-05,PT,10276617,3,0,0.000000,2020-03,6
76921,2020-03-06,PT,10276617,5,0,0.000000,2020-03,11
...,...,...,...,...,...,...,...,...
77440,2021-08-07,PT,10276617,2621,17,1.654241,2021-08,984983
77441,2021-08-08,PT,10276617,1982,10,0.973083,2021-08,986965
77442,2021-08-09,PT,10276617,1094,18,1.751549,2021-08,988059
77443,2021-08-10,PT,10276617,2232,17,1.654241,2021-08,990291
77444,2021-08-11,PT,10276617,2948,12,1.167699,2021-08,993239

You might end up getting an error ```SettingWithCopyWarning```. What is happening? 
Although the model of Pandas is that functions over a DataFrame will create a new DataFrame, Pandas tries to optimize execution by not creating copies of DataFrames when not necessary. It turns out that sometime this leads to problems. When that happens, you can explicitly force Pandas to create a copy of the Dataframe by using the function ```copy()```.

In [11]:
ptCovidDF = covidDF[covidDF["countrycode"]=="PT"].copy()

# TODO : complete
ptCovidDF["cumCases"] = ptCovidDF["cases"].cumsum()
ptCovidDF

,date,countrycode,population,cases,deaths,deathsPer1M,month,cumCases
76917,2020-03-02,PT,10276617,0,0,0.000000,2020-03,0
76918,2020-03-03,PT,10276617,0,0,0.000000,2020-03,0
76919,2020-03-04,PT,10276617,3,0,0.000000,2020-03,3
76920,2020-03-05,PT,10276617,3,0,0.000000,2020-03,6
76921,2020-03-06,PT,10276617,5,0,0.000000,2020-03,11
...,...,...,...,...,...,...,...,...
77440,2021-08-07,PT,10276617,2621,17,1.654241,2021-08,984983
77441,2021-08-08,PT,10276617,1982,10,0.973083,2021-08,986965
77442,2021-08-09,PT,10276617,1094,18,1.751549,2021-08,988059
77443,2021-08-10,PT,10276617,2232,17,1.654241,2021-08,990291
77444,2021-08-11,PT,10276617,2948,12,1.167699,2021-08,993239

File ```countries.csv``` has information about countries. Let's check.

In [12]:
# create the path for the global file
countriesFileName = os.path.join( "data", "countries.csv")

# Read a CSV file into a DataFrame
countriesDF = pd.read_csv(countriesFileName)

print( countriesDF)

    Continent_Name Continent_Code
0             Asia             AS  \
1           Europe             EU
2       Antarctica             AN
3           Africa             AF
4          Oceania             OC
..             ...            ...
257         Africa             AF
258        Oceania             OC
259           Asia             AS
260           Asia             AS
261           Asia             AS

                                     Country_Name Two_Letter_Country_Code
0                Afghanistan, Islamic Republic of                      AF  \
1                            Albania, Republic of                      AL
2    Antarctica (the territory South of 60 deg S)                      AQ
3        Algeria, People's Democratic Republic of                      DZ
4                                  American Samoa                      AS
..                                            ...                     ...
257                           Zambia, Republic of                      ZM
258                            Disputed Territory                      XX
259                Iraq-Saudi Arabia Neutral Zone                      XE
260                   United Nations Neutral Zone                      XD
261                               Spratly Islands                      XS

    Three_Letter_Country_Code  Country_Number
0                         AFG             4.0
1                         ALB             8.0
2                         ATA            10.0
3                         DZA            12.0
4                         ASM            16.0
..                        ...             ...
257                       ZMB           894.0
258                       NaN             NaN
259                       NaN             NaN
260                       NaN             NaN
261                       NaN             NaN

[262 rows x 6 columns]

With this information, let's compute the total number of cases and deaths by continent.

In [13]:
# TODO : complete

# we are only interested in the lines that have a match, so we will use inner join
extCovidDF = covidDF.join( countriesDF.set_index("Two_Letter_Country_Code"),on="countrycode",how="inner")
resultDF = extCovidDF[["cases","deaths","Continent_Name"]].groupby("Continent_Name").sum()
print(resultDF)

                   cases   deaths
Continent_Name
Africa           7114303   179873
Asia            71445002  1114988
Europe          60655961  1220272
North America   43374758   939540
Oceania           105648     1649
South America   36079108  1106612

What about the number of cases and death per 1M population in each continent?

In [18]:
# TODO : complete

covidCountriesDF = covidDF[["cases","deaths","population","countrycode"]].groupby("countrycode")\
                                                   .agg({"cases":"sum","deaths":"sum","population":"max"})
extCovidDF = covidCountriesDF.join( countriesDF.set_index("Two_Letter_Country_Code"),how="inner")
resultDF = extCovidDF[["cases","deaths","population","Continent_Name"]].groupby("Continent_Name").sum()
resultDF["casesPer1M"] = resultDF["cases"] / (resultDF["population"] / 1000000)
resultDF["deathsPer1M"] = resultDF["deaths"] / (resultDF["population"] / 1000000)
resultDF = resultDF[["casesPer1M","deathsPer1M"]]
print(resultDF)

               cases  deaths  population Continent_Name Continent_Code
countrycode
AD             14890     129       78015         Europe             EU  \
AE            696902    1988     9770526           Asia             AS
AF            151290    6978    38041757           Asia             AS
AG              1371      43       99000  North America            NaN
AL            134485    2460     2880913         Europe             EU
...              ...     ...         ...            ...            ...
WS                 3       0      199853        Oceania             OC
YE              7212    1392    29161922           Asia             AS
ZA           2554239   75774    58558267         Africa             AF
ZM            201340    3509    18400556         Africa             AF
ZW            117953    3991    15790716         Africa             AF

                                 Country_Name Three_Letter_Country_Code
countrycode
AD                   Andorra, Principality of                       AND  \
AE                       United Arab Emirates                       ARE
AF           Afghanistan, Islamic Republic of                       AFG
AG                        Antigua and Barbuda                       ATG
AL                       Albania, Republic of                       ALB
...                                       ...                       ...
WS                Samoa, Independent State of                       WSM
YE                                      Yemen                       YEM
ZA                  South Africa, Republic of                       ZAF
ZM                        Zambia, Republic of                       ZMB
ZW                      Zimbabwe, Republic of                       ZWE

             Country_Number
countrycode
AD                     20.0
AE                    784.0
AF                      4.0
AG                     28.0
AL                      8.0
...                     ...
WS                    882.0
YE                    887.0
ZA                    710.0
ZM                    894.0
ZW                    716.0

[203 rows x 8 columns]
                   cases   deaths  population
Continent_Name
Africa           6992702   176647  1323792148
Asia            71445002  1114988  4666830332
Europe          60655961  1220272   834456597
North America   43374758   939540   576342552
Oceania           105648     1649    41645938
South America   36079108  1106612   426923092
                  casesPer1M  deathsPer1M
Continent_Name
Africa           5282.326240   133.440133
Asia            15309.106378   238.917621
Europe          72689.174270  1462.355267
North America   75258.642364  1630.176354
Oceania          2536.814035    39.595698
South America   84509.619358  2592.064053