# Advanced Data Analysis - week 3, lecture 1, examples

In the advanced data analysis course, we assume basic knowledge of Python, as could be acquired by attending the *Introduction to Programming* bridging course.

This notebook includes the examples and exercises presented in **Week 3**, lecture 1. There is an additional notebook with the examples and exercises suggested for autonomous study during the week.

In **week 3**, we will focus on introducing Spark.

**This notebook should be run on Google Colab**.

## Install Spark

In [1]:
# RUN THIS CELL ONLY IF RUNNING IN COLAB

!apt-get install openjdk-11-jdk-headless
!pip install pyspark

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
openjdk-11-jdk-headless is already the newest version (11.0.20.1+1-0ubuntu1~22.04).
0 upgraded, 0 newly installed, 0 to remove and 17 not upgraded.
Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=1e135567cff58f8edd53dda85b1152385ed8746accd2e8f9b569cbc8426e5a26
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1
Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (4.6.6)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.12.2)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.31.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2023.7.22)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)
/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Access denied with the following error:

 	Cannot retrieve the public link of the file. You may need to change
	the permission to 'Anyone with the link', or have had many accesses.

You may still be able to access the file from the browser:

	 https://drive.google.com/uc?id=0-tJ7cJ3wRHCnUkHiKVFQzFQ

unzip:  cannot find or open sbe_data_2324.zip, sbe_data_2324.zip.zip or sbe_data_2324.zip.ZIP.

### Downloading data files

This cell will download the dataset files used in the computation.

In [7]:
!pip install gdown
!gdown https://drive.google.com/file/d/1Suzt37ohetSKLNP0kFUv0Ji1joiXumir/view?usp=sharing
!unzip -o sbe_data_2324.zip

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (4.6.6)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.12.2)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.31.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2023.7.22)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)
/usr/local/lib/python3.10/dist-packages/gdown/parse_url.py:35: UserWarning: You specified a Google Drive link that is not the correct link to download a file. You might want to try `--fuzzy` option or the following url: https://drive.google.com/uc?id=1Suzt37ohetSKLNP0kFUv0Ji1joiXumir
  warnings.warn(
Downloading...
From: https://drive.google.com/file/d/1Suzt37ohetSKLNP0kFUv0Ji1joiXumir/view?usp=sharing
To: /content/view?usp=sharing
80.5kB [00:00, 4.76MB/s]
Archive:  sbe_data_2324.zip
  inflating: data/AD-covid.csv
  inflating: data/AE-covid.csv
  inflating: data/AF-covid.csv
  inflating: data/AG-covid.csv
  inflating: data/AL-covid.csv
  inflating: data/ALL-covid.csv
  inflating: data/AM-covid.csv
  inflating: data/AO-covid.csv
  inflating: data/AR-covid.csv
  inflating: data/AT-covid.csv
  inflating: data/AU-covid.csv
  inflating: data/AW-covid.csv
  inflating: data/AZ-covid.csv
  inflating: data/BA-covid.csv
  inflating: data/BB-covid.csv
  inflating: data/BD-covid.csv
  inflating: data/BE-covid.csv
  inflating: data/BF-covid.csv
  inflating: data/BG-covid.csv
  inflating: data/BH-covid.csv
  inflating: data/BI-covid.csv
  inflating: data/BJ-covid.csv
  inflating: data/BM-covid.csv
  inflating: data/BN-covid.csv
  inflating: data/BO-covid.csv
  inflating: data/BR-covid.csv
  inflating: data/BS-covid.csv
  inflating: data/BT-covid.csv
  inflating: data/BW-covid.csv
  inflating: data/BY-covid.csv
  inflating: data/BZ-covid.csv
  inflating: data/CA-covid.csv
  inflating: data/CD-covid.csv
  inflating: data/CF-covid.csv
  inflating: data/CG-covid.csv
  inflating: data/CH-covid.csv
  inflating: data/CI-covid.csv
  inflating: data/CL-covid.csv
  inflating: data/CM-covid.csv
  inflating: data/CN-covid.csv
  inflating: data/CO-covid.csv
  inflating: data/CR-covid.csv
  inflating: data/CU-covid.csv
  inflating: data/CV-covid.csv
  inflating: data/CY-covid.csv
  inflating: data/CZ-covid.csv
  inflating: data/DE-covid.csv
  inflating: data/DJ-covid.csv
  inflating: data/DK-covid.csv
  inflating: data/DM-covid.csv
  inflating: data/DO-covid.csv
  inflating: data/DZ-covid.csv
  inflating: data/EC-covid.csv
  inflating: data/EE-covid.csv
  inflating: data/EG-covid.csv
  inflating: data/ER-covid.csv
  inflating: data/ES-covid.csv
  inflating: data/ET-covid.csv
  inflating: data/FI-covid.csv
  inflating: data/FJ-covid.csv
  inflating: data/FO-covid.csv
  inflating: data/FR-covid.csv
  inflating: data/GA-covid.csv
  inflating: data/GB-covid.csv
  inflating: data/GD-covid.csv
  inflating: data/GE-covid.csv
  inflating: data/GH-covid.csv
  inflating: data/GL-covid.csv
  inflating: data/GM-covid.csv
  inflating: data/GN-covid.csv
  inflating: data/GQ-covid.csv
  inflating: data/GR-covid.csv
  inflating: data/GT-covid.csv
  inflating: data/GU-covid.csv
  inflating: data/GW-covid.csv
  inflating: data/GY-covid.csv
  inflating: data/HK-covid.csv
  inflating: data/HN-covid.csv
  inflating: data/HR-covid.csv
  inflating: data/HT-covid.csv
  inflating: data/HU-covid.csv
  inflating: data/ID-covid.csv
  inflating: data/IE-covid.csv
  inflating: data/IL-covid.csv
  inflating: data/IN-covid.csv
  inflating: data/IQ-covid.csv
  inflating: data/IR-covid.csv
  inflating: data/IS-covid.csv
  inflating: data/IT-covid.csv
  inflating: data/JM-covid.csv
  inflating: data/JO-covid.csv
  inflating: data/JP-covid.csv
  inflating: data/KE-covid.csv
  inflating: data/KG-covid.csv
  inflating: data/KH-covid.csv
  inflating: data/KI-covid.csv
  inflating: data/KM-covid.csv
  inflating: data/KN-covid.csv
  inflating: data/KR-covid.csv
  inflating: data/KW-covid.csv
  inflating: data/KZ-covid.csv
  inflating: data/LA-covid.csv
  inflating: data/LB-covid.csv
  inflating: data/LC-covid.csv
  inflating: data/LI-covid.csv
  inflating: data/LK-covid.csv
  inflating: data/LR-covid.csv
  inflating: data/LS-covid.csv
  inflating: data/LT-covid.csv
  inflating: data/LU-covid.csv
  inflating: data/LV-covid.csv
  inflating: data/LY-covid.csv
  inflating: data/MA-covid.csv
  inflating: data/MC-covid.csv
  inflating: data/MD-covid.csv
  inflating: data/ME-covid.csv
  inflating: data/MG-covid.csv
  inflating: data/MH-covid.csv
  inflating: data/ML-covid.csv
  inflating: data/MM-covid.csv
  inflating: data/MN-covid.csv
  inflating: data/MO-covid.csv
  inflating: data/MR-covid.csv
  inflating: data/MT-covid.csv
  inflating: data/MU-covid.csv
  inflating: data/MV-covid.csv
  inflating: data/MW-covid.csv
  inflating: data/MX-covid.csv
  inflating: data/MY-covid.csv
  inflating: data/MZ-covid.csv
  inflating: data/NA-covid.csv
  inflating: data/NE-covid.csv
  inflating: data/NG-covid.csv
  inflating: data/NI-covid.csv
  inflating: data/NL-covid.csv
  inflating: data/NO-covid.csv
  inflating: data/NP-covid.csv
  inflating: data/NZ-covid.csv
  inflating: data/OM-covid.csv
  inflating: data/PA-covid.csv
  inflating: data/PE-covid.csv
  inflating: data/PG-covid.csv
  inflating: data/PH-covid.csv
  inflating: data/PK-covid.csv
  inflating: data/PL-covid.csv
  inflating: data/PR-covid.csv
  inflating: data/PS-covid.csv
  inflating: data/PT-covid.csv
  inflating: data/PW-covid.csv
  inflating: data/PY-covid.csv
  inflating: data/QA-covid.csv
  inflating: data/RK-covid.csv
  inflating: data/RO-covid.csv
  inflating: data/RS-covid.csv
  inflating: data/RU-covid.csv
  inflating: data/RW-covid.csv
  inflating: data/SA-covid.csv
  inflating: data/SB-covid.csv
  inflating: data/SC-covid.csv
  inflating: data/SD-covid.csv
  inflating: data/SE-covid.csv
  inflating: data/SG-covid.csv
  inflating: data/SI-covid.csv
  inflating: data/SK-covid.csv
  inflating: data/SL-covid.csv
  inflating: data/SM-covid.csv
  inflating: data/SN-covid.csv
  inflating: data/SO-covid.csv
  inflating: data/SR-covid.csv
  inflating: data/SS-covid.csv
  inflating: data/ST-covid.csv
  inflating: data/SV-covid.csv
  inflating: data/SY-covid.csv
  inflating: data/SZ-covid.csv
  inflating: data/TD-covid.csv
  inflating: data/TG-covid.csv
  inflating: data/TH-covid.csv
  inflating: data/TJ-covid.csv
  inflating: data/TL-covid.csv
  inflating: data/TN-covid.csv
  inflating: data/TR-covid.csv
  inflating: data/TT-covid.csv
  inflating: data/TW-covid.csv
  inflating: data/TZ-covid.csv
  inflating: data/UA-covid.csv
  inflating: data/UG-covid.csv
  inflating: data/US-covid.csv
  inflating: data/UY-covid.csv
  inflating: data/UZ-covid.csv
  inflating: data/VC-covid.csv
  inflating: data/VE-covid.csv
  inflating: data/VI-covid.csv
  inflating: data/VN-covid.csv
  inflating: data/VU-covid.csv
  inflating: data/WS-covid.csv
  inflating: data/XK-covid.csv
  inflating: data/YE-covid.csv
  inflating: data/ZA-covid.csv
  inflating: data/ZM-covid.csv
  inflating: data/ZW-covid.csv
  inflating: data/lec1-example.csv

## Programming (with Pandas API for Spark)

We now show how to program with the [**Pandas API**](https://spark.apache.org/docs/latest/api/python/user_guide/pandas_on_spark/index.html) for Spark.

For using Pandas, you must import *pyspark.pandas*. After that, you can use the Pandas API, but it will run on Spark.

In [10]:
import os
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"

# imports pandas API for Spark
import pyspark.pandas as ps

### Data model : DataFrame

In *Pandas* API, a table is represented as a [**DataFrame**](https://pandas.pydata.org/docs/reference/frame.html), using the underlying Spark DataFrame. (follow the link for DataFrame documentation)

There are multiple ways to create an initial DataFrame. For example, you can create date from a Python dictionary, as follows:

In [11]:
population = ps.DataFrame( { "country": ["PT", "ES", "DE"] , \
                            "population": [10276617, 46937060, 83019213]})

print( population)

  country  population
0      PT    10276617
1      ES    46937060
2      DE    83019213

Pandas will maintain an additional column, the index, with a increasing integer. This column - the first column when printing the dataframe - is created automatically.

#### Loading DataFrame from CSV files

More often, will want to load the data from files. To create a DataFrame from a CSV file, you can use the ```load_csv``` function.

Note: If the following code fails, the most likely reason is that you do not have the *data* directory with the data files.

In [12]:
import os

# Let's create a PATH in a OS independent way
# File lec1-example.csv is in directory data
fileName = os.path.join( "data", "lec1-example.csv")

# Read a CSV file into a DataFrame
df = ps.read_csv(fileName)

print( df)

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

        Name  Age  Educational level Company
0     Andrew   55                1.0    Good
1   Bernhard   43                2.0    Good
2   Carolina   37                5.0     Bad
3     Dennis   82                3.0    Good
4        Eve   23                3.2     Bad
5       Fred   46                5.0    Good
6    Gwyneth   38                4.2     Bad
7     Hayden   50                4.0     Bad
8      Irene   29                4.5     Bad
9      James   42                4.1    Good
10     Kevin   35                4.5     Bad
11       Lea   38                2.5    Good
12    Marcus   31                4.8     Bad
13     Nigel   71                2.3    Good

#### Saving DataFrame into CSV files

You can save a DataFrame into a CSV file using ```to_csv``` function.

In [13]:
import os

# Let's create a PATH in a OS independent way
# File lec1-saved.csv will be in directory data
fileName = os.path.join( "data", "lec5-saved.csv")

# Save DataFrameRead a CSV file into a DataFrame
df.to_csv( fileName)

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

Please check the file created. Is it the same as the original lec1-saved.csv?

No, it has an additional column with the row number. You can also save the DataFrame without this number by using the ```index=False``` option.

In [14]:
import os

# Let's create a PATH in a OS independent way
# File lec1-saved-noindex.csv will be in directory data
fileName = os.path.join( "data", "lec5-saved-noindex.csv")

# Save DataFrameRead a CSV file into a DataFrame
df.to_csv( fileName, index=False)

### Data processing with Pandas

We now show the transformations necessary to perform the exercises proposed above.

#### Selecting rows based on conditions

It is possible to select the rows for which a column has a given value as follows:

In [15]:
# Select the persons that are good company.
good = df[df["Company"]=="Good"]

print(good)

        Name  Age  Educational level Company
0     Andrew   55                1.0    Good
1   Bernhard   43                2.0    Good
3     Dennis   82                3.0    Good
5       Fred   46                5.0    Good
9      James   42                4.1    Good
11       Lea   38                2.5    Good
13     Nigel   71                2.3    Good

In [16]:
# Select the persons that are good company and have educational level larger than 3.
goodEd3plus = df[(df["Company"]=="Good") & (df["Educational level"]>=3.0)]

print(goodEd3plus)

     Name  Age  Educational level Company
3  Dennis   82                3.0    Good
5    Fred   46                5.0    Good
9   James   42                4.1    Good

#### Selecting a subset of the columns

Often, we do not need all data that is in a table. We can get rid of the data we do not need by selecting the columns we want using the following syntax ```dataframe[[col1,col2,...]]```.

In the following example we create a new DataFrame containing only the Name and Age columns.

In [17]:
# Select the persons that are good company.
person_age = df[["Name","Age"]]

print(person_age)

        Name  Age
0     Andrew   55
1   Bernhard   43
2   Carolina   37
3     Dennis   82
4        Eve   23
5       Fred   46
6    Gwyneth   38
7     Hayden   50
8      Irene   29
9      James   42
10     Kevin   35
11       Lea   38
12    Marcus   31
13     Nigel   71

#### Applying reduce/aggregation functions

Pandas allow to compute the reduction/aggregation for the values of one or multiple columns.

You must select the columns for which you want to perform the computation, and then call the reduce/aggregation function.

The following example computes first, the minimum age (```min```function), and then the minimum of both *Age* and *Educational level* at the same time. Pandas has multiple useful aggregation functions, including, maximum (```max```), minimum (```min```), mean (```mean```), median (```median```), standard deviation (```std```), etc. - check the [**DataFrame** documentation](https://pandas.pydata.org/docs/reference/frame.html) for the list of available functions.

In [18]:
minAge = good["Age"].min()
print( "Minimum age is ")
print( minAge)

mins = good[["Age","Educational level"]].min()
print( "Minimum information for several columns now")
print( mins)

Minimum age is
38
Minimum information for several columns now
Age                  38.0
Educational level     1.0
dtype: float64

Wait, this was not what we wanted in the first place - we want the information about the youngest person that is a good company.

Function ```nsmallest(num elems, columns)``` allow to compute that.

In [19]:
youngestGood = good.nsmallest(1,["Age"])
print( good.nsmallest(1,["Age"]))

   Name  Age  Educational level Company
11  Lea   38                2.5    Good

#### Applying reduce/aggregation functions per group

```groupby([cols])``` allows to group elements of a DataFrame before applying an aggregation function to each of the groups.

The following example computes the lowest age for each value of Company.

In [20]:
youngest = df[["Age","Company"]].groupby(["Company"]).min()
print( youngest)

youngestAny = youngest.idxmin()
print( "The youngest person is " + youngestAny["Age"])

         Age
Company
Good      38
Bad       23
The youngest person is Bad

#### Access Spark Dataframes from Pandas Spark Dataframe

Spark Dataframe has a different API from Spark Pandas API. It is possible to expose a Pandas Dataframe as a Spark native Dataframe using *to_spark* function.

For printing data in a Spark Dataframe, function *show* is used.

In [21]:
dfSDF = df.to_spark()

dfSDF.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Educational level: double (nullable = true)
 |-- Company: string (nullable = true)

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [22]:
fileName = os.path.join( "data", "lec1-example.csv")

df = ps.read_csv(fileName)

youngest = df[["Age","Company"]].groupby(["Company"]).min()

print( youngest)

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

         Age
Company
Good      38
Bad       23

In [23]:
youngestSDF = youngest.to_spark(index_col='index')

youngestSDF.show()

+-----+---+
|index|Age|
+-----+---+
| Good| 38|
|  Bad| 23|
+-----+---+

An interesting function is *explain* that shows the computations that are performed in the computation.

In [24]:
youngestSDF.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[__index_level_0__#587], functions=[min(Age#550)])
   +- Exchange hashpartitioning(__index_level_0__#587, 200), ENSURE_REQUIREMENTS, [plan_id=605]
      +- HashAggregate(keys=[__index_level_0__#587], functions=[partial_min(Age#550)])
         +- Project [Company#552 AS __index_level_0__#587, Age#550]
            +- Filter atleastnnonnulls(1, Company#552)
               +- FileScan csv [Age#550,Company#552] Batched: false, DataFilters: [atleastnnonnulls(1, Company#552)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/data/lec1-example.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Age:int,Company:string>

In the following text, that has the operations to be executed (from the bottom to the top), it is possible to observe that Spark will execute the **min** agregation by first computing the **partial_min** for each group in each partition, and only after that exchange data among partitions (Exchange line) for computing the minimum for each group. Note that this approach is much more efficient than propagating all information among partitions, as much less data is propagated.

Now let's see another example.

In [31]:
df[["Age","Company"]].groupby(["Company"]).mean()

               Age
Company
Good     53.857143
Bad      34.714286

In [32]:
means = df[["Age","Company"]].groupby(["Company"]).mean().reset_index()
meanGood = means[means["Company"]=="Good"]
meanGood.to_spark().explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[__index_level_0__#892], functions=[avg(Age#550)])
   +- Exchange hashpartitioning(__index_level_0__#892, 200), ENSURE_REQUIREMENTS, [plan_id=1015]
      +- HashAggregate(keys=[__index_level_0__#892], functions=[partial_avg(Age#550)])
         +- Project [Company#552 AS __index_level_0__#892, Age#550]
            +- Filter (atleastnnonnulls(1, Company#552) AND CASE WHEN CASE WHEN isnull((Company#552 = Good)) THEN false ELSE isnull((Company#552 = Good)) END THEN false ELSE CASE WHEN isnull((Company#552 = Good)) THEN false ELSE (Company#552 = Good) END END)
               +- FileScan csv [Age#550,Company#552] Batched: false, DataFilters: [atleastnnonnulls(1, Company#552), CASE WHEN CASE WHEN isnull((Company#552 = Good)) THEN false EL..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/data/lec1-example.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Age:int,Company:string>

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

The explanation should be read from bottom to top, starting with FileScan that represent the read of data from the file. In this example, you can see that, even if in the program the filtering is the last operation ```meanGood = means[means["Company"]=="Good"]```, Spark will start by filtering lines for which the company is not good when reading from the file.

Why?

Because there is no point in computing the number of persons that are not a good company if in the end, everyhting is needed is for those that are a Good company. This kind of optimization can have a great impact on program execution when data is large.

#### Creating Pandas Dataframes from Pandas Spark Dataframe

It is possible to create a *plain* Pandas Dataframe from a Pandas Spark Dataframe using the *to_pandas* function.

While a Pandas Spark Dataframe is distributed and partitioned across multiple machines/cores, the Pandas Dataframe is in a single machine.

In [33]:
dfPDF = df.to_pandas()

print(dfPDF)

        Name  Age  Educational level Company
0     Andrew   55                1.0    Good
1   Bernhard   43                2.0    Good
2   Carolina   37                5.0     Bad
3     Dennis   82                3.0    Good
4        Eve   23                3.2     Bad
5       Fred   46                5.0    Good
6    Gwyneth   38                4.2     Bad
7     Hayden   50                4.0     Bad
8      Irene   29                4.5     Bad
9      James   42                4.1    Good
10     Kevin   35                4.5     Bad
11       Lea   38                2.5    Good
12    Marcus   31                4.8     Bad
13     Nigel   71                2.3    Good

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: `to_pandas` loads all data into the driver's memory. It should only be used if the resulting pandas DataFrame is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)